{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}},
    {zlists, {git, "https://github.com/vjache/erlang-zlists.git", {branch, "master"}}},
    {ranch, {git, "https://github.com/extend/ranch.git", {tag, "1.3.2"}}}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {eunit_opts, [verbose, {{eunit_surefire, [{dir, "."}]}}]}
    ]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{provider_hooks, [{post, [{compile, xref}]}]}.
