{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.5"}},
    {zlists, ".*", {git, "https://github.com/vjache/erlang-zlists.git", "master"}},
    {ranch, ".*", {git, "https://github.com/extend/ranch.git", "22e0f96"}}
]}.
