{deps, [
    {jsx, "v2.8.2"},
    {zlists, "0.0.1"},
    {ranch, "1.3.2"}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {eunit_opts, [verbose, {{eunit_surefire, [{dir, "."}]}}]}
    ]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{provider_hooks, [{post, [{compile, xref}]}]}.
